body {
  margin: 0;
  padding: 0;
  font-family: Inter;
}

* {
  box-sizing: border-box;
  line-height: normal;
  font-family: inherit;
  margin: unset;
}

html,
body {
  height: 100%;
}

#root {
  min-height: 100vh;
  min-height: 100dvh;
}